In [40]:
import requests 

req = requests.get(
    'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population')

In [41]:
req

In [42]:
webpage = req.text

In [43]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(webpage, 'html.parser')

In [58]:
# Creating list with all tables
tables = soup.find_all('table')

In [71]:
len(tables)

15

In [46]:
# Verifying tables and their classes
print('Classes of each table:')
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['noprint', 'infobox']
['sidebar', 'nomobile', 'nowraplinks']
['noprint', 'infobox']
['wikitable']
['wikitable', 'sortable']
['wikitable']
['wikitable']
['noprint', 'infobox']
['wikitable', 'sortable']
['wikitable']
['noprint', 'infobox']
['wikitable', 'sortable']
['wikitable', 'sortable']
['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner']
['navbox-columns-table']

In [74]:
# len of each table
for i in range(len(tables)):
    print(len(tables[i].tbody.find_all('tr')))

2
11
2
4
332
8
17
2
6
2
2
14
28
4
1

In [48]:
import pandas as pd

In [135]:
# Defining of the dataframe
columnNames=['city', 'state', '2121 estimate', '2020 census', 'change', 
             '2020landarea1', '2020landarea2', '2020populationdensity1', 
             '2020populationdensity2']

In [120]:
len(columnNames)

9

In [99]:
len(tables[4].tbody.find_all('tr')[1].find_all('td'))

10

In [130]:
tables[4].tbody.find_all('tr')[1].find_all('td')[2].text.strip('\n')

'8,467,513'

In [138]:
df = pd.DataFrame(columns=columnNames)
# Collecting data for each row
newList=[0]*(len(columnNames))
for row in tables[4].tbody.find_all('tr'):    
    # Find all data for each column
    columns = row.find_all('td')
    if(columns != []):
        for i in range (len(newList)):
            newList[i]=columns[i].text.strip('\n')
            
        df=df.append({columnNames[j]: newList[j] for j in range(len(columnNames))}, 
                     ignore_index=True)

In [142]:
newList

['Norwalk',
 'California',
 '100,373',
 '102,773',
 '−2.34%',
 '9.7\xa0sq\xa0mi',
 '25.1\xa0km2',
 '10,595/sq\xa0mi',
 '4,091/km2']

In [140]:
df.describe()

,city,state,2121 estimate,2020 census,change,2020landarea1,2020landarea2,2020populationdensity1,2020populationdensity2
count,331,331,331,331,331,331,331,331,331
unique,321,46,330,331,257,300,300,321,313
top,Springfield,California,"125,963","8,804,190",+0.44%,23.5 sq mi,60.9 km2,"4,888/sq mi","1,887/km2"
freq,3,76,2,1,4,3,3,3,3

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   city                    331 non-null    object
 1   state                   331 non-null    object
 2   2121 estimate           331 non-null    object
 3   2020 census             331 non-null    object
 4   change                  331 non-null    object
 5   2020landarea1           331 non-null    object
 6   2020landarea2           331 non-null    object
 7   2020populationdensity1  331 non-null    object
 8   2020populationdensity2  331 non-null    object
dtypes: object(9)
memory usage: 23.4+ KB

In [139]:
df.head()

,city,state,2121 estimate,2020 census,change,2020landarea1,2020landarea2,2020populationdensity1,2020populationdensity2
0,New York[d],New York,"8,467,513","8,804,190",−3.82%,300.5 sq mi,778.3 km2,"29,298/sq mi","11,312/km2"
1,Los Angeles,California,"3,849,297","3,898,747",−1.27%,469.5 sq mi,"1,216.0 km2","8,304/sq mi","3,206/km2"
2,Chicago,Illinois,"2,696,555","2,746,388",−1.81%,227.7 sq mi,589.7 km2,"12,061/sq mi","4,657/km2"
3,Houston,Texas,"2,288,250","2,304,580",−0.71%,640.4 sq mi,"1,658.6 km2","3,599/sq mi","1,390/km2"
4,Phoenix,Arizona,"1,624,569","1,608,139",+1.02%,518.0 sq mi,"1,341.6 km2","3,105/sq mi","1,199/km2"

In [144]:
df.to_csv("us-cities-by-population.csv", index=False)